@import '../util/mixins';

div.calculator__container{
    height: 100vh;
    width: 100%;
    @include flexCenter();
}

div.calculator__background{
    height: 500px;
    width: 350px;
    background-color: $accentColor;
    color: $lightColor;
    border-radius: $defaultBorderRadius;
    padding: 10px;
}

div.calculator__output{
    height: 30%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.calculator__output--value{
    width: 100%;
    overflow: scroll;
    color: $lightColor;
}

input{
    border: 0;
    background: none;
    text-align: right;
    font-size: 3rem;
}

input::placeholder {
    color: $lightColor;
    opacity: 1;
}

.calculator__input{
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

    .button__input{
        color: $darkColor;
        background-color: $lightColor;
        border-radius: $buttonBorderRadius;
        text-align: center;
    }

    button::selection{
        background-color: none;
    }

    [data-value="0"]{
        grid-column: 1 / 3;
        grid-row: 5 / 6;
    }

    [data-value="1"]{
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }

    [data-value="2"]{
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    [data-value="3"]{
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    [data-value="4"]{
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    [data-value="5"]{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    [data-value="6"]{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    [data-value="7"]{
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    [data-value="8"]{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    [data-value="9"]{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    [data-value="."]{
        grid-column: 3 / 4;
        grid-row: 5 / 6;
    }